.container{
    width:100%;
    display: flex;
}
.left{
    background: url("../../bg5-l.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.welcome-text{
    color: #fff;
    width: 465px;
}
.right{
    background: #fff;
    height: 100vh;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 80%;
}
.form-group{
    position: relative;
    margin: 8px 0;
    color: rgb(133, 132, 132);
    font-size: 16px;    
}

input{  
    width: 100%;
    height: 32px;
    padding-left: 24px;
    border: none;
    border-bottom: 1px solid rgb(240, 236, 236);
    outline: none;
    font-size: 16px;  
    color: rgb(133, 132, 132);
}
i{
    position: absolute;
    top: 20%;
    left: 0%;
}
.btn{
 background:rgb(20, 133, 240);
 display: inline-block;
 color:rgb(240, 236, 236);
 font-size: 18px;
 padding: 14px 24px;
 border: none;
 border-radius: 20px;
 margin: 16px 0;
 cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .right {
      width: 60%;
    }
  }
@media screen and (max-width: 767px) {
    .right {
      width: 100%;
    }
  }







  